<div class="body-container bg-dark-blue">
  <div class="left-side-container">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left text-white back-arrow"></i>
    <% end %>
    <div class="filter-bands me-3">
      <%= form_with url: bands_path, method: :get, local: true do |f|%>
        <div class="filter-options no-hover-no-shadow-card bg-dark-blue w-100">
          <div class="form-title">
            <h2>Show me musicians</h2>
          </div>
          <div class="form-row">
            <div class="form-group">
              <%= f.label "Instrument:", class: "text-white mb-2", placeholder: "e.g. Chelsea, Mayifair, Shoreditch..." %>
              <%= f.text_field :instrument, class: "bg-white", placeholder: "e.g. Guitar, Harpsichord, Violin..." %>
            </div>
            <div class="form-group">
              <%= f.label "Location:", class: "text-white mb-2" %>
              <%= f.text_field :location, class: "bg-white" %>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="filter-button bg-light-blue">
              <i class="fa-solid fa-filter"></i>
            </button>
          </div>
        </div>
      <% end %>
    </div>


    <div class="band-cards">
      <% @user.each do |user| %>
        <%= link_to user_path(user), class: "text-decoration-none" do %>
        <div class="band-card new-card-style">
          <%= cl_image_tag user.photo.key, class: "user-card-img" %>
          <div class="band-card-info">
            <h3><%= user.first_name %> <%= user.last_name %></h3>
            <p>Location: <%= user.address %> </p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="right-side-container" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
