<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="band-name"><%= @user.first_name %><%= @user.last_name %></h2>
    <button class="contact-button"><i class="fa-solid fa-user"></i><p>Contact <%= @user.first_name %></p></button>
  </div>
  <div class="band-details">
    <div class="band-info">
    </div>

    <div class="band-info">
      <i class="fa-solid fa-location-dot me-2"></i>
      <p><%= @user.address %></p>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="left-side">
      <div class="band-photo" style="background-image: url('<%= cl_image_path @user.photo.key %>'); object-fit:cover">
      </div>
      <div class="band-about">
        <h3>About me</h3>
        <p><%= @user.bio %></p>
      </div>
      <div class="band-about">
        <% @user.instruments.each do |instrument| %>
          <h3>Instruments I play:</h3>
        <ul>
          <li><%= instrument.name %></li>
        </ul>
        <% end %>
      </div>


    </div>

  </div>
</div>
