<%= link_to users_path do %>
  <i class="fa-solid fa-arrow-left text-white back-arrow"></i>
<% end %>
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="band-name text-white"><%= @user.first_name %> <%= @user.last_name %></h2>
    <% if current_user == @user %>
    <%= link_to "Update Profile", edit_user_registration_path(current_user), class: "nav-links log text-decoration-none" %>
  <% else %>
    <%= link_to chat_path(@chat), class: "contact-button text-decoration-none" do %>
      <i class="fa-solid fa-envelope"></i>
      <p>Chat with User</p>
    <% end %>
  <% end %>
  </div>
  <div class="band-details">
    <div class="band-info">
      <i class="fa-solid fa-location-dot me-2 text-white"></i>
      <p class="text-white"><%= @user.address %></p>
    </div>
  </div>
  <div class="d-flex justify-content-between content-flex-wrapper">
    <div class="left-side-user">
      <div class="user-photo object-fit-cover box-shadow-white" style="background-image: url('<%= cl_image_path @user.photo.key %>'); object-fit:cover">
      </div>
      <div class="band-about bg-white text-char box-shadow-white">
        <h3 class="text-dark-blue">A little on me</h3>
        <p><%= @user.bio %></p>
      </div>

        <div class="user-songs bg-white text-char box-shadow-white">
          <div class="my-songs">
            <h3 class="text-dark-blue">My Songs</h3>
            <% if current_user == @user %>
              <i class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#addSongModal"></i>
            <% end %>
          </div>



          <% if @user.songs %>
            <% @user.songs.each do |song| %>
              <div class="song-item">
                <ul>
                  <li>
                      <h5><%= song.title %></h5>
                      <audio controls class="user-song">
                          <source src= "<%= url_for(song.song.attachment) %>">
                      </audio>
                  </li>
                </ul>
              </div>
            <% end %>
          <% end %>
         </div>


      <div class="band-about bg-white text-char box-shadow-white">
        <% @user.instruments.each do |instrument| %>

          <h3 class="text-dark-blue">What I bring to the table:</h3>
        <ul class="no-bullet">
          <li><%= instrument.name %></li>
        </ul>

        <% end %>
      </div>
    </div>
    <div class="right-side">
      <div class="vacancies bg-white text-char box-shadow-white">
        <h3 class="text-dark-blue">My applications:</h3>
        <% if current_user.id == @user.id %>
          <% current_user.applications.each do |application| %>
            <div class="applications">
              <div class="my-application">
                <%= link_to band_path(application.vacancy.band.id), class: "text-decoration-none" do %>
                  <h5 class="application-band-title"><%= application.vacancy.band.name %></h5>
                <% end %>
                <p><strong>Position:</strong> <%= application.vacancy.instrument %></p>
                <p><strong>Your message: </strong><%= application.pitch %></p>
                <% if application.vacancy.filled %>
                  <p><strong>Status: </strong> You have been selected!!</p>
                <% else %>
                  <p><strong>Status: </strong>  Decision pending</p>
                <% end %>
                <p><strong>Submitted on: </strong><%= application.vacancy.created_at.strftime("%d %b %y") %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="no-applications bg-white">
            <h4>You do not have any applications</h4>
          </div>
        <% end%>
      </div>

      <div class="band-about bg-white text-char box-shadow-white">
        <h3 class="text-dark-blue">I am known for</h3>
        <% if @user.genres.any? %>
          <ul class="genre-list no-bullet">
            <% @user.genres.each do |genre| %>
              <li><%= genre.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p>No genres listed.</p>
        <% end %>
      </div>

      <div class="events new-card-style bg-white align-items-center justify-content-center text-char box-shadow-white">
          <h3 class="text-dark-blue" >Events:</h3>
        <% if @events.any? %>
          <ul class="event-list">
            <% @events.each do |event| %>
              <br>
              <li class="event">
                <strong><%= event.title %></strong> - <%= event.start_time.strftime("%H:%M - %d %b %Y") %> - <%= event.end_time.strftime("%H:%M - %d %b %Y") %> - <strong><%= event.status.capitalize %></strong>
                <p><%= event.content %></p>
                <%= event.user1.first_name %> <%= event.user1.last_name %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="no-events">
            <h4>No events scheduled.</h4>
          </div>
        <% end %>
      </div>
    </div>


      <div class="modal fade" id="addSongModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header new-modal">

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body new-modal">
              <%= simple_form_for [@user, @song] do |f| %>
                <%= f.input :title %>
                <%= f.input :song %>
                <%= f.submit :"Add song", class: "bg-light-blue height"%>
              <% end %>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>
