<h1>Inspiration Page</h1>

<div class="albums">
  <div class="album-heading">
    <h2>Album generator</h2>
  </div>
  <div class="albumBody">

    <div class="youralbums">
      <h5>Your albums:</h5>
    <ul>
    <% @albums.each do |album| %>
        <%= link_to album_path(album) do %><li><%= album.name %></li><% end %>
      <% end %>
      </ul>
      </div>

      <div class="generateAlbums">
        <h5>Generate a new album cover</h5>

        <%= simple_form_for [@album] do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :prompt, label: 'Describe what you are looking for' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, id: "generate-button" %>
          </div>
        <% end %>
      </div>
      <p><%= @content %></p>
    </div>
  </div>
