<div class="body-container">

  <div class="left-side-container">

    <div class="filter-bands">
      <%= form_with url: bands_path, method: :get, local: true do |f|%>
        <div class="filter-options">
          <div class="form-group">
            <h2>Filter bands</h2>
          </div>
          <div class="form-group">
          </div>
            <div class="form-group">
              <%= f.label :genre %>
              <%= f.text_field :genre %>
            </div>
            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :location %>
            </div>
            <div class="checkbox">
              <%= f.label :"vacancies only?" %>
              <%= f.check_box :vacancy %>
            </div>
            <div class="form-group">
              <%= f.submit "Filter", class: "submit-button" %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="band-cards">
      <% @bands.each do |band| %>
        <%= link_to band_path(band), class: "text-decoration-none" do %>
        <div class="band-card">
          <%= cl_image_tag band.photo.key, class: "band-card-img" %>
          <div class="band-card-info">
            <h3><%= band.name %></h3>
            <p>Genre: <%= band.genre %> </p>
            <p>Location: <%= band.address %> </p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="right-side-container" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
