<h1>New Band</h1>
<%= simple_form_for [@user, @band] do |f| %>
  <%= f.input :name, required: true, label: "Band Name" %>
  <%= f.input :address, required: true, label: "Address" %>
  <%= f.input :bio, required: true, label: "Bio" %>
  <%= f.input :genre, required: true, label: "Genre" %>
  <%= f.input :image, as: :file, required: true, label: "Band Image" %>
  <%= f.submit "Create Band", class: "btn btn-primary" %>
<% end %>
