  <%= link_to bands_path do %>
    <%= image_tag "back-button.png", alt: "Back button", class: "back-button" %>
  <% end %>
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="band-name"><%= @band.name %></h2>
    <%= link_to chat_path(@chat), class: "contact-button" do %>
      <i class="fa-solid fa-envelope"></i>
      <p>Chat with Band</p>
    <% end %>
  </div>
  <div class="band-details">
    <div class="band-info">
      <i class="fa-solid fa-music me-2"></i>
      <p><%= @band.genre %></p>
    </div>
    <div class="band-info">
      <i class="fa-solid fa-calendar me-2"></i>
      <p>Formed <%= @band.created_at.to_date.year %></p>
    </div>
    <div class="band-info">
      <i class="fa-solid fa-location-dot me-2"></i>
      <p><%= @band.address %></p>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="left-side">
      <div class="band-photo object-fit-cover" style="background-image: url('<%= cl_image_path @band.photo.key %>')">
      </div>
      <div class="band-about">
        <h3>About Us</h3>
        <p><%= @band.bio %></p>
      </div>




      <div class="band-songs">
        <div class="my-band-songs">
          <h3>My Songs</h3>
          <% if @is_member %>
            <i class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#addSongModaBand"></i>
          <% end %>
        </div>
          <% @band.songs.each do |song| %>
          <div class="song-item">
          <ul>
            <li>
                <h5><%= song.title %></h5>
                <audio controls class="song">
                    <source src= "<%= url_for(song.song.attachment) %>">
                </audio>
            </li>

          </ul>
          </div>
          <% end %>
        </div>

      <div class="band-members">
        <h3>Meet the Band</h3>
        <ul class="members-list">
        <% @band.band_members.each do |member| %>
          <%= link_to user_path(member.user_id), class: "text-decoration-none" do %>
          <li class="band-member"><div><%= cl_image_tag member.user.photo.key, class: "band-member-image object-fit-cover" %><span><%= member.user.first_name %> <%= member.user.last_name %></span></div><span><%= Instrument.find_by(user_id: member.user_id).name %></span></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="right-side">
      <div class="vacancies">
        <h3>Open Positions:</h3>
        <p>Join our musical journey...</p>
        <% if @band.vacancies.any? %>

          <% @band.vacancies.each do |vacancy| %>
            <div class="vacancy">
                <h4><%= vacancy.instrument %></h4>
              <div class="d-flex justify-content-between">
                <%= link_to "Delete Vacancy", band_vacancy_path(@band, vacancy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
              <p><%= vacancy.description %></p>
              <h5>Requirements:</h5>
              <ul>
                <li><%= vacancy.years_of_experience %>+ years of experience</li>
                <li>Availability: <%= vacancy.availability %></li>
                <li><%= vacancy.confidence %></li>
              </ul>

              <!-- Button for viewing applications-->
              <% if  @band.band_members.exists?(user_id: current_user.id) %>
                <button type="button" class="submit-button" data-bs-toggle="modal" data-bs-target="#viewingApplicationsModal_<%= vacancy.id %>">
                  View Applications for this position
                </button>
              <% else %>
                <!-- Button for applying to vacancy -->
                <button type="button" class="submit-button" data-bs-toggle="modal" data-bs-target="#applicationModal<%= vacancy.id %>">
                  Apply Now
                </button>
              <% end %>
            </div>


            <!-- Button for creating vacancy -->


            <!-- Modal for viewing applications -->

            <div class="modal fade" id="viewingApplicationsModal_<%= vacancy.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Applications for this position</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <% vacancy.applications.each do |application| %>
                      <div class="application">
                      <% if application.pitch == nil %>
                        <p>No applications yet for this position.</p>
                      <% else %>
                        <h5><%= application.user.first_name%>  <%=application.user.last_name%> </h5>
                        <p><%= application.pitch %></p>
                        <p>Submitted on: <%= application.created_at.strftime("%d %b %y") %> </p>
                      <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>



            <!-- Modal for creating a new vacancy-->
            <div class="modal fade" id="createVacancyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create a new vacancy listing</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for [ @band, @vacancy ] do |f| %>
                      <%= f.input :instrument %>
                      <%= f.input :description, class: "typing" %>
                      <%= f.input :years_of_experience %>
                      <%= f.input :availability %>
                      <%= f.input :confidence %>

                      <%= f.submit class: "submit-button" %>
                    <% end %>
                  </div>
                  <div class="modal-footer" id="footer-bg">
                  </div>
                </div>
              </div>
            </div>



          <!-- Modal for application form -->
          <div class="modal fade" id="applicationModal<%= vacancy.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Application for <%= @band.name %></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body application-new">
                  <h3>What makes you the one?</h3>
                  <%= simple_form_for [ vacancy, @application ] do |f| %>
                    <%= f.input :pitch, class: "typing", label: false, placeholder: "e.g. experience, favourite bands, ambitions..." %>
                    <%= button_tag type: "submit", class: "submit-button" do %>
                      <i class='fa-solid fa-paper-plane fa-flip-horizontal'></i>
                    <% end %>
                  <% end %>
                </div>
                <div class="modal-footer" id="footer-bg">

                  </div>

                </div>
              </div>
            </div>

          <% end %>
          <% if  @band.band_members.exists?(user_id: current_user.id) %>
            <button type="button" class="find-bands" data-bs-toggle="modal" data-bs-target="#createVacancyModal">
              Create a new vancancy
            </button>
          <% end %>

        <% else %>

          <% if  @band.band_members.exists?(user_id: current_user.id) %>
            <button type="button" class="find-bands" data-bs-toggle="modal" data-bs-target="#createVacancyModalEmpty">
              Create a new vancancy
            </button>
          <% end %>

          <div class="modal fade" id="createVacancyModalEmpty" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Create a new vacancy listing</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for [ @band, @vacancy ] do |f| %>
                      <%= f.input :instrument %>
                      <%= f.input :description, class: "typing" %>
                      <%= f.input :years_of_experience %>
                      <%= f.input :availability %>
                      <%= f.input :confidence %>
                      <%= f.submit class: "submit-button" %>
                    <% end %>
                  </div>
                  <div class="modal-footer" id="footer-bg">
                  </div>
                </div>
              </div>
            </div>


        <% end %>
      </div>
      <div class="events">
        <h3>Upcoming Events</h3>
        <% if @events.empty? %>
          <p>No upcoming events.</p>
        <% else %>
          <% @events.each do |event| %>
            <div class="event">
              <h3><%= event.status.capitalize %></h3>
              <h4><%= event.title %></h4>
              <p><%= event.start_time.strftime("%H:%M - %d %b %Y") %></p>
              <p><%= event.end_time.strftime("%H:%M - %d %b %Y") %></p>
              <p><%= event.address %></p>
              <p><%= event.content %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="modal fade" id="addSongModaBand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@band, @song] do |f| %>
                <%= f.input :title %>
                <%= f.input :song %>
                <%= f.submit %>
              <% end %>
            </div>
            <div class="modal-footer" id="modal-footerr">

            </div>
          </div>
        </div>
      </div>

  </div>
</div>
