<%= link_to root_path do %>
  <%= image_tag "back-button.png", alt: "Back button", class: "back-button" %>
<% end %>
<div class="sharing">
  <h3>Fancy sharing a post?</h3>
  <button type="button" class="create-post-button" id="create-button" data-bs-toggle="modal" data-bs-target="#createPost">
    Create a Post
  </button>
</div>


<div class="modal fade" id="createPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalbody">
        <%= simple_form_for [@user, @post] do |f| %>
          <%= f.input :title, label: "Title", input_html: { class: "form-control" } %>
          <%= f.input :content, label: "Content", input_html: { class: "form-control" } %>
          <%= f.input :photo, as: :file, required: :true %>
          <%= f.button :submit, id: "create-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="body-container">
<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <% if post.band_id %>
        <%= link_to band_path(post.band.id), class: "path-link" do %>
          <div class="who-post">
            <%= cl_image_tag post.band.photo.key, class: "post-avatar-image object-fit-cover" %>
            <h3><%= post.band.name %></h3>
          </div>
        <% end %>
      <% else %>
        <%= link_to user_path(current_user.id), class: "path-link" do %>
        <div class="who-post">
          <%= cl_image_tag post.user.photo.key, class: "post-avatar-image object-fit-cover" %>
          <h3><%= post.user.first_name %> <%= post.user.last_name %></h3>
        </div>
        <% end %>
      <% end %>

      <%= cl_image_tag post.photo.key, class: "post-photo" %>
      <div class="post-text">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
      </div>
      <hr>
      <div class="post-content">
        <p><%= image_tag "heart.png", class: "like-button" %></p>
        <p><%= image_tag "comment.png", class: "like-button" %></p>
        <p><%= image_tag "bookmark.png", class: "like-button" %></p>

      </div>
    </div>
  <% end %>
</div>

</div>
